{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calving</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/gettingInputPages.css' %}">
</head>

<body>
    <div class="navbar">
        <h1>Calving Page</h1>
</div>
<div class="main_container">
        <!-- Cow Tag No -->
        <label for="cow">Tag Number: </label>
        <select name="cow" id="Calvcow">
                  <option value="cow1">Cow 1</option>
                  <option value="cow2">Cow 2</option>
                  <option value="cow3">Cow 3</option>
                </select><br><br>

        <!-- Date feild -->
        <label for="Date">Date:</label>
        <input type="date" id="Calvdate" name="Date"><br>

        <!-- Sex Radio Button -->
        <p>Sex: </p>
        <input type="radio" id="Calv" name="Sex" value="Male">
        <label for="Sex">Male</label><br>
        <input type="radio" id="Calv1" name="Sex" value="Evening">
        <label for="Sex">Female</label><br><br>

        <!-- Alarm Date feild -->
        <label for="Date">Alarm Date:</label>
        <input type="date" id="CalvAlarm" name="Date"><br><br>

        <!-- Alarm Checkbox -->
        <input type="checkbox" id="CalvalarmCheck" name="alarm" value="yes" onclick="CalvFunction()">
        <label for="alarm">Set alarm for deworming</label><br><br>

        <!-- Save Button -->
        <button type="button" onclick="CalvFunction()">Save</button><br><br>
    </div>
    <!-- Navbar -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">

    <body class="preload">
        <!-- Navbar -->
        <header class="header">
            <button class="header__button" id="btnNav" type="button">
          <i class="material-icons">menu</i>
      </button>
        </header>
        <nav id="menu">
            <div>
                <nav class="nav">
                    <div class="nav__links">
                        <a href="{% url 'home' %}" class="nav__link">
                            <i class="material-icons">home</i> Home Page
                        </a>
                        <a href="{% url 'milk_data_entry' %}" class="nav__link">
                            <i class="material-icons">border_color</i> Milk Data Entry
                        </a>
                        <a class="nav__link" href="{% url 'milk_data_overall_report' %}">
                            <i class="material-icons">poll</i> Milk Report
                        </a>
                        <a class="nav__link" href="{% url 'insemination_entry' %}">
                            <i class="material-icons">chalet</i> Insemination Entry
                        </a>
                        <a class="nav__link" href="{% url 'calving_entry' %}">
                            <i class="material-icons">pets</i> Calving Entry
                        </a>
                        <a class="nav__link" href="{% url 'breeding_report' %}">
                            <i class="material-icons">transgender</i> Breeding Report
                        </a>
                        <a class="nav__link" href="{% url 'treatment_entry' %}">
                            <i class="material-icons">health_and_safety</i> Treatment Entry
                        </a>
                        <a class="nav__link" href="{% url 'vaccination_entry' %}">
                            <i class="material-icons">sports_cricket</i> Vaccination Entry
                        </a>
                        <a class="nav__link" href="{% url 'deworming_entry' %}">
                            <i class="material-icons">trip_origin</i> Deworming Entry
                        </a>
                        <a class="nav__link" href={% url 'remainder_alarm_IInd_heat' %}>
                            <i class="material-icons">notifications_active</i> Reminder Alarm
                        </a>
                        <a class="nav__link" href="#">
                            <i class="material-icons">logout</i> Logout
                        </a>
                    </div>
                    <div class="nav__overlay"></div>
                </nav>
            </div>
    </body>
    <script>
        window.addEventListener("load", () => {
            document.body.classList.remove("preload");
        });

        document.addEventListener("DOMContentLoaded", () => {
            const nav = document.querySelector(".nav");

            document.querySelector("#btnNav").addEventListener("click", () => {
                nav.classList.add("nav--open");
            });

            document.querySelector(".nav__overlay").addEventListener("click", () => {
                nav.classList.remove("nav--open");
            });
        });

        function CalvFunction() {
            var c_entry = new FormData();
            c_entry.append('c_Calvcow', $('#tagnum').val());
            c_entry.append('c_Calvdate', $('#cname').val());
            c_entry.append('c_Calv',$('#Calv').children(":selected").attr("value"));
            // c_entry.append('c_Calv1', $('#damname').val());
            c_entry.append('c_AlarmDate', $('#AlarmDate').val());
            c_entry.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            $.ajax({
                url: '',
                type: 'post',
                data: c_entry,
                processData: false,
                contentType: false,
                success: function () {
                    alert('SUCCESS');
                },
                error: function (status) {
                    alert('ERROR');
                },
            });
            // var tag, Date, Male, Female, AlarmDate, checkBox;
            // tag = document.getElementById("Calvcow").value
            // console.log(tag);
            // Date = document.getElementById("Calvdate").value
            // console.log(Date);
            // Male = document.getElementById("Calv")
            // Female = document.getElementById("Calv1")
            // if (Male.checked == true) {
            //     console.log(Male.value)
            // } else if (Female.checked == true) {
            //     console.log(Female.value)
            // } else {
            //     console.log("Nothing is selected")
            // }
            // AlarmDate = document.getElementById("CalvAlarm").value
            // console.log(AlarmDate);
        }
    </script>

</html>