{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatment</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/gettingInputPages.css' %}">

    <title>Reminder Alarm</title>

</head>

<body>
    <div class="navbar">
    <h1>Treatment Page</h1>
</div>
    <!-- Cow Tag No -->
    <div class="main_container">
    <label for="cow">Tag Number: </label>
    <select name="cow" id="Treatcow">
                      <option value="cow1">Cow 1</option>
                      <option value="cow2">Cow 2</option>
                      <option value="cow3">Cow 3</option>
                    </select><br><br>

    <!-- Medicine -->
    <label for="Medicine">Medicine: </label>
    <select name="Medicine" id="Medicine">
                       <option value="med1">Medicine 1</option>
                       <option value="med2">Medicine 2</option>
                       <option value="med3">Medicine 3</option>
                     </select><br><br>

    <!-- Diagnosis -->
    <label for="Diagnosis">Diagnosis: </label>
    <select name="Diagnosis" id="Diagnosis">
                       <option value="dis1">Disease 1</option>
                       <option value="dis2">Disease 2</option>
                       <option value="dis3">Disease 3</option>
                     </select><br><br>



    <!-- Date feild -->
    <label for="Date">Date of Diagnosis:</label>
    <input type="date" id="Treatdate" name="Date"><br><br>

    <!-- Medical Advise -->
    <label for="Medical Advise">Medical Advise:</label>
    <textarea id="Medical Advise" name="Medical Advise" rows="4" cols="50">
                </textarea><br><br>

    <!-- Save Button -->
    <button type="button" onclick="TreatmentFunction()">Save</button><br><br>
</div>
    <!-- Navbar -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">

    <body class="preload">
        <!-- Navbar -->
        <header class="header">
            <button class="header__button" id="btnNav" type="button">
          <i class="material-icons">menu</i>
      </button>
        </header>
        <nav id="menu">
            <div>
                <nav class="nav">
                    <div class="nav__links">
                        <a href="home.html" class="nav__link">
                            <i class="material-icons">home</i> Home Page
                        </a>
                        <a href="milk_reg.html" class="nav__link">
                            <i class="material-icons">border_color</i> Milk Data Entry
                        </a>
                        <a class="nav__link" href="milk_report.html">
                            <i class="material-icons">poll</i> Milk Report
                        </a>
                        <a class="nav__link" href="insemination.html">
                            <i class="material-icons">chalet</i> Insemination Entry
                        </a>
                        <a class="nav__link" href="calving.html">
                            <i class="material-icons">pets</i> Calving Entry
                        </a>
                        <a class="nav__link" href="breed_report.html">
                            <i class="material-icons">transgender</i> Breeding Report
                        </a>
                        <a class="nav__link" href="treatment.html">
                            <i class="material-icons">health_and_safety</i> Treatment Entry
                        </a>
                        <a class="nav__link" href="Vaccination.html">
                            <i class="material-icons">sports_cricket</i> Vaccination Entry
                        </a>
                        <a class="nav__link" href="deworming.html">
                            <i class="material-icons">trip_origin</i> Deworming Entry
                        </a>
                        <a class="nav__link" href="reminder_alarm.html">
                            <i class="material-icons">notifications_active</i> Reminder Alarm
                        </a>
                        <a class="nav__link" href="#">
                            <i class="material-icons">logout</i> Logout
                        </a>
                    </div>
                    <div class="nav__overlay"></div>
                </nav>
    </body>
    <script>
        window.addEventListener("load", () => {
            document.body.classList.remove("preload");
        });

        document.addEventListener("DOMContentLoaded", () => {
            const nav = document.querySelector(".nav");

            document.querySelector("#btnNav").addEventListener("click", () => {
                nav.classList.add("nav--open");
            });

            document.querySelector(".nav__overlay").addEventListener("click", () => {
                nav.classList.remove("nav--open");
            });
        });

        function TreatmentFunction() {
            var t_entry = new FormData();
            t_entry.append('t_Treatcow', $('#Treatcow').val());
            t_entry.append('t_Medicine', $('#Medicine').val());
            t_entry.append('t_Diagnosis', $('#Diagnosis').val());
            t_entry.append('t_Treatdate', $('#Treatdate').val());
            t_entry.append('t_Medical Advise', $('#Medical Advise').val());
            t_entry.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            $.ajax({
                url: '',
                type: 'post',
                data: t_entry,
                processData: false,
                contentType: false,
                success: function () {
                    alert('SUCCESS');
                },
                error: function (status) {
                    alert('ERROR');
                },
            });
        }
    </script>

</html>